:root {
  --background: #dddddd;
  --border-radius: 20px;
  --shadow-color: rgba(1, 21, 46, 0.364);
  --inner-shadow: inset 10px 10px 20px var(--shadow-color);
  --outer-shadow: 10px 10px 20px var(--shadow-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

HTML, body {
  background-color: var(--background);
}
